<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="\src\public\assets\css\prueba.css">
  </head>

  <header>
      
      <div class="logo">
        <img src="/Proyecto/src/public/assets/img/icons/log (1).svg" alt="">
      </div>
       
 </header>
  <body>
    <section class="fondo">
      <section class="form-login">
        <h5>B I E N V E N I D O</h5>
        <input class="controls" type="text" name="usuario" value="" placeholder="Usuario">
        <input class="controls" type="password" name="contrasena" value="" placeholder="Contraseña">
        <div>

          <a class="buttons" href="homeEstudiante.html">Ingresar</a>

        </div>
        
        <p><a href="#">¿Olvidaste tu Contraseña?</a></p>
      

        <h6>¿No tienes cuenta? Registrate aquí</h6>
        <input class="controls" type="text" name="usuario" value="" placeholder="Usuario">
        <input class="controls" type="text" name="correo" value="" placeholder="Correo">
        <input class="controls" type="password" name="contrasena" value="" placeholder="Contraseña">
        <input class="buttons" type="submit" name="" value="Registrar">
   
      </section>
    </section>

  </body>

</html>