<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home-estudiante</title>

   

    <link rel="stylesheet" href="\src\public\assets\css\prueba.css">

    <script src="https://kit.fontawesome.com/512f6708d8.js" crossorigin="anonymous"></script>

</head>

<body id="body">
    
   <header>
      

       <div class="container__header" >

         <div class="container__nav">
           <nav>
            <ul>
               <li><a  class="home" href="#">Mi home</a></li>
               <li><a  class="home" href="#">Soporte</a></li>
               <li><a class="select" href="login.html">Iniciar sesión</a></li>
            </ul>


            </nav>


          </div>
          
        </div>
    </header>

   

    <div class="anim">
        <img src="\src\public\assets\img\images\Bienve.png" alt="">
      </div>


<script src="\src\public\assets\js\script.js"></script>
    
</body>
</html>